@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary : #471396;
  --color-secondary : #090040;
  --color-tertiary : #B13BFF;
  --color-quaternary : #FFCC00;
  --color-base-white : #f2f2f2;
  --font-inter: var(--font-inter);
  --font-mono: var(--font-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter) var(--font-mono);
}
